@{
    ViewBag.Title = "Lấy lại mật khẩu";
}

<div class="match-box pad60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:#000">@ViewBag.Title.</h2>
                <br/>
                <p>
                    Kiểm tra thư được gửi đến email của bạn để lấy lại mật khẩu.
                </p>
            </div>
        </div>
    </div>
</div>


