@{
    ViewBag.Title = "Đặt lại mật khẩu thành công";
}

<div class="match-box pad60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:#000">@ViewBag.Title.</h2>
                <br />
                <p>
                    Mật khẩu của bạn đã được đặt lại. Vui lòng @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>




