@{
    ApplicationUser user = ViewBag.User;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="user-panel">
        <div class="pull-left image">
            <a href="@Url.Action("Index","Manage")"><img width="45" height="45" src="~/Photos/Users/@user.Avatar" class="img-circle" /></a>
        </div>
        <div class="pull-left info">
            <p>
                @user.UserName
            </p>
            <p>
                @user.FullName
            </p>
        </div>
    </div>
}