@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tài khoản bị khóa";
}

<div class="match-box pad60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hgroup>
                    <h2 class="text-danger">Tài khoản của bạn đã bị ban quản trị khóa vĩnh viễn.</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>
