@section Sub{
    @Html.Action("Pages", "PartialView")
}
<!-- page title & breadcrumbs start -->
<div class="bdcmb-bg3 page-head parallax overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 id="title">point table</h3>
                </div>
            </div>
            <!-- /.colour-service-1-->
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>।</li>
                    <li>point table</li>
                    <li>।</li>
                    <li>{{nameStanding}} </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-header -->
<!-- page title & breadcrumbs end -->

<div class="point-table pad60">
    <div class="container">
        <div class="form-group">
            <select class="form-control" id="sel1" 
                    ng-model="leagueId" 
                    ng-options="item as item.league_name + ' - ' + item.league_season for item in listLeague track by item.league_id"
                    ng-change="getRankTable()">
            </select>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">no</th>
                                <td colspan="4">team</td>
                                <th scope="col">w</th>
                                <th scope="col">d</th>
                                <th scope="col">l</th>
                                <th scope="col">GA</th>
                                <th scope="col">PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in RankTable">
                                <th scope="row">{{item.overall_league_position}}</th>
                                <td colspan="4" class="team">
                                    <div class="team-box">
                                        <img class="xs-img" src={{item.team_badge}} alt="">
                                        <span>{{item.team_name}}</span>
                                    </div>
                                </td>
                                <td>{{parseInt(item.overall_league_W)}}</td>
                                <td>{{parseInt(item.overall_league_D)}}</td>
                                <td>{{parseInt(item.overall_league_L)}}</td>
                                <td>{{parseInt(item.overall_league_GA)}}</td>
                                <td>{{parseInt(item.overall_league_PTS)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>