<div class="slider-area owl-carousel">
        <div class="sliding-item">
            <img src="~/Content/assets/images/slider-show/1.jpg" alt="slider-img">
            <div class="sliding-content">
                <h2>2018 fifa <br> worldcup russia</h2>
                <div class="upcoming">
                    <span class="is-countdown"> </span>
                    <div data-countdown="2018/09/01"></div>
                </div>
            </div>
        </div>
        <div class="sliding-item">
            <img src="~/Content/assets/images/slider-show/2.jpg" alt="slider-img">
            <div class="tonight-match">
                <div class="sliding-match">
                    <h4><a href="#">to night</a></h4>
                    <ul class="match-vs">
                        <li>
                            <img src="~/Content/assets/images/club-logo/logo/chelsea.png"
                                 alt="club logo"><span>chelsea</span>
                        </li>
                        <li class="vs">
                            <h4>vs</h4>
                        </li>
                        <li>
                            <img src="~/Content/assets/images/club-logo/logo/arsenal.png"
                                 alt="club logo"><span>arsenal</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sliding-item">
            <img src="~/Content/assets/images/slider-show/3.jpg" alt="slider-img">
            <div class="league-content">
                <h2>uefa 2018 <br> champions league</h2>
                <div class="club-link">
                    <a class="liverpool" href="#">liverpool</a>
                    <a class="barcelona" href="#">barcelona</a>
                </div>
                <div class="upcomming-match d-none d-lg-flex">
                    <div class="first-match">
                        <h4>first match</h4>
                        <p>villa park</p>
                    </div>
                    <div class="upcoming">
                        <span class="is-countdown"> </span>
                        <div data-countdown="2018/06/01"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>